:root {
  --text: #333;
  --text-inverted: #eee;
  --full-overlay: rgba(16, 17, 14, 1);
  --black: #111;
  --button: white;
  --button-hover: #666666;
  --primary: #8cc63f;
  --darkPrimary: #65ae04;
  --danger: #d00;
  --secondary: rgba(255, 255, 255, 0.85);
  --input: #eee;
  --input-bg: rgba(255, 255, 255, 0.85);
  --input-text: #333;

  --type-btn-color: var(--primary);
  --type-dark-color: var(--darkPrimary);
  --type-inline-color: inherit;
  --type-fg-color: var(--text);

  --max-width: 66%;
  --num-cols: 5;
  --sprite-width: 64px;
  --text-padding: 10px;

  --glow: #333;
  --animate-duration: 0.5s;
  --animate-delay: 0;
  --animate-repeat: 1;
}

.dark {
  --text: #fff;
  --text-inverted: #333;
  --button: #111;
  --button-hover: #444444;

  --type-btn-color: var(--primary);
  --type-dark-color: var(--darkPrimary);
  --type-inline-color: inherit;
  --type-fg-color: var(--text);

  --glow: black;
}

html {
<<<<<<< New base: 📱 Improve mobile responsiveness
  max-width: 100vw;
  min-height: 100vh;
||||||| Common ancestor
  min-height: 100%;
=======
  max-width: 100vw;
  min-height: 100vh;
  scroll-behavior: smooth;
>>>>>>> Current commit: Merge `refs/remotes/origin/master` into `mobile`

  * {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  min-height: 100%;
}

h2 {
  font-size: 23px;
  line-height: 40px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

a {
  text-decoration: none;
  color: var(--type-inline-color, var(--primary));
}

ol {
  list-style-type: square;
  list-style-position: inside;
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v51/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmZiAr0klQmz24O0g.woff2)
    format('woff2');
}

::selection {
  background: var(--type-bg-color, var(--primary));
  color: white;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--type-bg-color, var(--primary));
}
