@import './main.css';

.main {
  max-width: 90vw;
  display: flex;
  flex-direction: column;
}

.root {
  margin: 2rem;
}

.background {
  background-image: url(@/assets/background-50.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--type-bg-color, var(--primary));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s ease-in-out;

  &.dark {
    background-image: url(background-dark.svg);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: var(--black);
  color: #fff;
  padding: 11px 14px;
}
